.products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px 50px;
  background-color: #ffffff;

  align-content: center;
  text-align: center;
  padding: 70px 60px;
}

.moreInfo {
  color: #ffffff;
  padding: 15px 32px;
  border-radius: 10px;
  border: 1px solid black;
  justify-content: center;
  background-color: #b97171;
}
.products img {
  height: 250px;
  width: 250px;
}
.innerprod {
  height: auto;
  border: 1px solid black;
  height: 530px;
  border-radius: 5px;
  box-shadow: 10px 10px;
}
.innerprod li {
  list-style: none;
}
.innerprod #Link {
  color: aliceblue;
}
.logging {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #b97171;
}
.sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
}
.sign button {
  background-color: black;
  color: aliceblue;
  padding: 15px 32px;
  border-radius: 10px;
}
.checkout {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  color: lawngreen;
}
