.selectprod{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 60px 120px;
}
.selectprod img{
    height: 300px;
    width: 300px;
}
.selectprod .image{
    align-items: center;
    text-align: center;
}
.selectprod .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.selectprod .details li{
    list-style: none;
}
.selectprod .details button{
    background-color: #b97171;
    color: aliceblue;
    padding: 15px 32px;
    border-radius: 10px;
}
