.page{
   
}
.sform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #dad3d3;
    height: 500px;
}
.sform form{
    display: block;
    border: 1px solid black;
    box-shadow: 10px 10px;
    padding: 20px;
}
.sform button{
    margin: 30px 0px;
    background-color: black;
    color: aliceblue;

}